In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('/home/anonymous/datasets/melb_data.csv')

In [5]:
df.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [44]:
df.describe()

,Unnamed: 0,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,18396.000000,18396.000000,1.839600e+04,18395.000000,18395.000000,14927.000000,14925.000000,14820.000000,18396.000000,18396.000000,18396.000000,15064.000000,15064.000000,18396.000000
mean,11826.787073,2.935040,1.056697e+06,10.389986,3107.140147,2.913043,1.538492,1.615520,558.116371,151.220093,1965.941563,-37.809849,144.996338,7517.975266
std,6800.710448,0.958202,6.419217e+05,6.009050,95.000995,0.964641,0.689311,0.955916,3428.730081,337.236125,25.827948,0.081152,0.106375,4488.294596
min,1.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,5936.750000,2.000000,6.330000e+05,6.300000,3046.000000,2.000000,1.000000,1.000000,250.750000,140.000000,1966.000000,-37.858100,144.931193,4294.000000
50%,11820.500000,3.000000,8.800000e+05,9.700000,3085.000000,3.000000,1.000000,2.000000,558.116371,151.220000,1966.000000,-37.803625,145.000920,6567.000000
75%,17734.250000,3.000000,1.302000e+06,13.300000,3149.000000,3.000000,2.000000,2.000000,596.000000,151.220000,1970.000000,-37.756270,145.060000,10331.000000
max,23546.000000,12.000000,9.000000e+06,48.100000,3978.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [6]:
df.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [7]:
df['BuildingArea'].describe()

count     7762.000000
mean       151.220219
std        519.188596
min          0.000000
25%         93.000000
50%        126.000000
75%        174.000000
max      44515.000000
Name: BuildingArea, dtype: float64

In [8]:
df['BuildingArea'].fillna(151.220, inplace=True)

In [9]:
df.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,151.22,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,151.22,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [32]:
df['BuildingArea'].describe()

count    18396.000000
mean       151.220093
std        337.236125
min          0.000000
25%        140.000000
50%        151.220000
75%        151.220000
max      44515.000000
Name: BuildingArea, dtype: float64

In [10]:
df['YearBuilt'].describe()

count    8958.000000
mean     1965.879996
std        37.013261
min      1196.000000
25%      1950.000000
50%      1970.000000
75%      2000.000000
max      2018.000000
Name: YearBuilt, dtype: float64

In [11]:
df['YearBuilt'].fillna(1966,inplace=True)

In [18]:
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,151.22,1966.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,151.22,1966.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.00,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.00,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,151.22,1966.0,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.00,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.00,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [33]:
df['YearBuilt'].describe()

count    18396.000000
mean      1965.941563
std         25.827948
min       1196.000000
25%       1966.000000
50%       1966.000000
75%       1970.000000
max       2018.000000
Name: YearBuilt, dtype: float64

In [16]:
df.notnull()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,False,True,True,True,True
18392,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
18393,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,False,True,True,True,True
18394,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
18395,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,False,True,True,True,True

In [17]:
df['Landsize'].describe()

count     13603.000000
mean        558.116371
std        3987.326586
min           0.000000
25%         176.500000
50%         440.000000
75%         651.000000
max      433014.000000
Name: Landsize, dtype: float64

In [19]:
df['Landsize'].fillna(558.116371,inplace=True)

In [20]:
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.000000,151.22,1966.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.000000,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.000000,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.000000,151.22,1966.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.000000,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,558.116371,89.00,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.000000,157.00,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,558.116371,151.22,1966.0,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.000000,112.00,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,558.116371,139.00,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [22]:
df['Landsize'].describe()

count     18396.000000
mean        558.116371
std        3428.730081
min           0.000000
25%         250.750000
50%         558.116371
75%         596.000000
max      433014.000000
Name: Landsize, dtype: float64

In [21]:
df['CouncilArea'].describe()

count        12233
unique          33
top       Moreland
freq          1163
Name: CouncilArea, dtype: object

In [23]:
df['CouncilArea'].fillna("Not Available",inplace=True)

In [24]:
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.000000,151.22,1966.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.000000,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.000000,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.000000,151.22,1966.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.000000,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,558.116371,89.00,2010.0,Not Available,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.000000,157.00,1920.0,Not Available,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,558.116371,151.22,1966.0,Not Available,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.000000,112.00,1920.0,Not Available,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,558.116371,139.00,1950.0,Not Available,-37.81829,144.87404,Western Metropolitan,6543.0

In [25]:
df['CouncilArea'].describe()

count             18396
unique               34
top       Not Available
freq               6163
Name: CouncilArea, dtype: object

In [29]:
df['Propertycount'].describe()

count    18395.000000
mean      7517.975265
std       4488.416599
min        249.000000
25%       4294.000000
50%       6567.000000
75%      10331.000000
max      21650.000000
Name: Propertycount, dtype: float64

In [30]:
df['Propertycount'].fillna(7518, inplace=True)

In [31]:
df['Propertycount'].describe()

count    18396.000000
mean      7517.975266
std       4488.294596
min        249.000000
25%       4294.000000
50%       6567.000000
75%      10331.000000
max      21650.000000
Name: Propertycount, dtype: float64

In [36]:
df['Unnamed: 0'].describe()

count    18396.000000
mean     11826.787073
std       6800.710448
min          1.000000
25%       5936.750000
50%      11820.500000
75%      17734.250000
max      23546.000000
Name: Unnamed: 0, dtype: float64

In [37]:
df['Suburb'].describe()

count         18396
unique          330
top       Reservoir
freq            541
Name: Suburb, dtype: object

In [38]:
df['Address'].describe()

count          18396
unique         18134
top       14 Rose St
freq               3
Name: Address, dtype: object

In [39]:
df['Rooms'].describe()

count    18396.000000
mean         2.935040
std          0.958202
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         12.000000
Name: Rooms, dtype: float64

In [41]:
df['Type'].describe()

count     18396
unique        3
top           h
freq      12095
Name: Type, dtype: object

In [42]:
df['Price'].describe()

count    1.839600e+04
mean     1.056697e+06
std      6.419217e+05
min      8.500000e+04
25%      6.330000e+05
50%      8.800000e+05
75%      1.302000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [43]:
df['Method'].describe()

count     18396
unique        5
top           S
freq      12034
Name: Method, dtype: object

In [45]:
df['SellerG'].describe()

count      18396
unique       305
top       Nelson
freq        2002
Name: SellerG, dtype: object

In [46]:
df['Date'].describe()

count          18396
unique            58
top       27/05/2017
freq             610
Name: Date, dtype: object

In [47]:
df['Distance'].describe()

count    18395.000000
mean        10.389986
std          6.009050
min          0.000000
25%          6.300000
50%          9.700000
75%         13.300000
max         48.100000
Name: Distance, dtype: float64

In [48]:
df['Distance'].fillna(10.38999,inplace=True)

In [49]:
df['Distance'].describe()

count    18396.000000
mean        10.389986
std          6.008886
min          0.000000
25%          6.300000
50%          9.700000
75%         13.300000
max         48.100000
Name: Distance, dtype: float64

In [51]:
df.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [52]:
df['Postcode'].describe()

count    18395.000000
mean      3107.140147
std         95.000995
min       3000.000000
25%       3046.000000
50%       3085.000000
75%       3149.000000
max       3978.000000
Name: Postcode, dtype: float64

In [53]:
df['Postcode'].fillna(3107.00,inplace=True)

In [54]:
df['Postcode'].describe()

count    18396.000000
mean      3107.140139
std         94.998413
min       3000.000000
25%       3046.000000
50%       3085.000000
75%       3149.000000
max       3978.000000
Name: Postcode, dtype: float64

In [55]:
df['Bedroom2'].describe()

count    14927.000000
mean         2.913043
std          0.964641
min          0.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         20.000000
Name: Bedroom2, dtype: float64

In [56]:
df['Bedroom2'].fillna(3.0,inplace=True)

In [57]:
df['Bedroom2'].describe()

count    18396.000000
mean         2.929441
std          0.869601
min          0.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         20.000000
Name: Bedroom2, dtype: float64

In [58]:
df['Bathroom'].describe()

count    14925.000000
mean         1.538492
std          0.689311
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          8.000000
Name: Bathroom, dtype: float64

In [59]:
df['Bathroom'].fillna(2.0,inplace=True)

In [60]:
df['Bathroom'].describe()

count    18396.000000
mean         1.625571
std          0.646606
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          8.000000
Name: Bathroom, dtype: float64

In [61]:
df['Car'].describe()

count    14820.000000
mean         1.615520
std          0.955916
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         10.000000
Name: Car, dtype: float64

In [67]:
df['Car'].fillna(1.0,inplace=True)

In [68]:
df['Car'].describe()

count    18396.000000
mean         1.495869
std          0.891892
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         10.000000
Name: Car, dtype: float64

In [70]:
df['Lattitude'].describe()

count    15064.000000
mean       -37.809849
std          0.081152
min        -38.182550
25%        -37.858100
50%        -37.803625
75%        -37.756270
max        -37.408530
Name: Lattitude, dtype: float64

In [72]:
df['Lattitude'].fillna(-37.809849, inplace=True)

In [73]:
df['Lattitude'].describe()

count    18396.000000
mean       -37.809849
std          0.073436
min        -38.182550
25%        -37.845400
50%        -37.809849
75%        -37.767400
max        -37.408530
Name: Lattitude, dtype: float64

In [74]:
df['Longtitude'].describe()

count    15064.000000
mean       144.996338
std          0.106375
min        144.431810
25%        144.931193
50%        145.000920
75%        145.060000
max        145.526350
Name: Longtitude, dtype: float64

In [75]:
df['Longtitude'].fillna(145.0,inplace=True)

In [76]:
df['Longtitude'].describe()

count    18396.000000
mean       144.997001
std          0.096270
min        144.431810
25%        144.950952
50%        145.000000
75%        145.046900
max        145.526350
Name: Longtitude, dtype: float64

In [77]:
df['Regionname'].describe()

count                     18395
unique                        8
top       Southern Metropolitan
freq                       6343
Name: Regionname, dtype: object

In [78]:
df['Regionname'].fillna("Southern Metropolitan",inplace=True)

In [79]:
df['Regionname'].describe()

count                     18396
unique                        8
top       Southern Metropolitan
freq                       6344
Name: Regionname, dtype: object

In [80]:
df.describe()

,Unnamed: 0,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,18396.000000,18396.000000,1.839600e+04,18396.000000,18396.000000,18396.000000,18396.000000,18396.000000,18396.000000,18396.000000,18396.000000,18396.000000,18396.000000,18396.000000
mean,11826.787073,2.935040,1.056697e+06,10.389986,3107.140139,2.929441,1.625571,1.495869,558.116371,151.220093,1965.941563,-37.809849,144.997001,7517.975266
std,6800.710448,0.958202,6.419217e+05,6.008886,94.998413,0.869601,0.646606,0.891892,3428.730081,337.236125,25.827948,0.073436,0.096270,4488.294596
min,1.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,5936.750000,2.000000,6.330000e+05,6.300000,3046.000000,2.000000,1.000000,1.000000,250.750000,140.000000,1966.000000,-37.845400,144.950952,4294.000000
50%,11820.500000,3.000000,8.800000e+05,9.700000,3085.000000,3.000000,2.000000,1.000000,558.116371,151.220000,1966.000000,-37.809849,145.000000,6567.000000
75%,17734.250000,3.000000,1.302000e+06,13.300000,3149.000000,3.000000,2.000000,2.000000,596.000000,151.220000,1970.000000,-37.767400,145.046900,10331.000000
max,23546.000000,12.000000,9.000000e+06,48.100000,3978.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [81]:
from sklearn.tree import DecisionTreeRegressor

In [82]:
y=df.Price

In [87]:
X=df[['Rooms','Bathroom','Landsize','Lattitude','Longtitude']]

In [88]:
house_pred = DecisionTreeRegressor(random_state=1)
house_pred.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [101]:
print("Predicting house price using the following features:""\n")
print(X.head())
print("\n""The prices are:", house_pred.predict(X.head()))

Predicting house price using the following features:

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

The prices are: [1480000. 1035000. 1465000.  850000. 1600000.]

In [102]:
from sklearn.metrics import mean_absolute_error

In [103]:
predicted_prices=house_pred.predict(X)
mean_absolute_error(y,predicted_prices)

65600.64296838373

In [104]:
from sklearn.model_selection import train_test_split

In [106]:
train_X,val_X,train_y,val_y = train_test_split(X,y,random_state=0)
house_pred=DecisionTreeRegressor()

house_pred.fit(train_X,train_y)

val_preds=house_pred.predict(val_X)
print(mean_absolute_error(val_y,val_preds))

277212.7794824901

In [107]:
from sklearn.ensemble import RandomForestRegressor

In [109]:
rf_model=RandomForestRegressor(random_state=0)

rf_model.fit(train_X,train_y)
rf_preds=rf_model.predict(val_X)
print(mean_absolute_error(val_y,rf_preds))

223896.59001618467

In [110]:
df.to_csv('new_melb_houses.csv', index=False)